<!-- Navbar start -->
<nav class="navbar">
<a href="#" class="navbar-brand">
  CodeComments.dev
</a>
  <div class="navbar-content ml-auto">
      <button class="btn btn-action mr-5" type="button" onclick="toggle_dark()">
        <i class="fa fa-moon-o" aria-hidden="true"></i>
        <span class="sr-only">Toggle dark mode</span>
      </button>
      <button class="btn btn-action mr-5" type="button" data-toggle="tooltip" data-title="This set of comments is currently unlocked - anyone with the URL can view and edit" data-placement="bottom">
          <i class="fas fa-unlock"></i>
          <span class="sr-only">Lock</span>
      </button>
      <a href="#" class="btn btn-primary" role="button">Login</a>
  </div>
</nav>
<!-- Navbar end -->