<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/halfmoon/css/halfmoon.css" rel="stylesheet" />

</head>

<body>
  <!-- Page wrapper -->
  <div class="page-wrapper">
    <!-- Content wrapper -->
    <div class="content-wrapper">

      <div class="d-flex justify-content-center">

        <div class="w-600 mw-full"> <!-- w-400 = width: 40rem (400px), mw-full = max-width: 100% -->
          <div class="card p-0"> <!-- p-0 = padding: 0 -->
            <img src="/static/assets/images/sad2.jpg" class="img-fluid rounded-top" alt="..."> <!-- rounded-top = rounded corners on the top -->
            <!-- Nested content container inside card -->
            <div class="content">
              <h2 class="content-title">
                Forgot your password, eh? 🤦🏻‍
              </h2>
              <p class="text-muted">
                Don't worry, it's all good. Put a new one in below and we'll sort you out.
              </p>
              <form method="post">
                <div class="form-group">
                  <label for="password1" class="required">Password</label>
                  <input type="password" class="form-control" name="password1" id="password1" placeholder="Password" required="required" value="">
                </div>
                <div class="form-group">
                  <label for="password2" class="required">Confirm password</label>
                  <input type="password" class="form-control" id="password2" placeholder="Password" required="required" value="">
                  <div id="password-error" class="invalid-feedback">
                    Does not match with the password above.
                  </div>
                </div>
                <input id="submit_button" class="btn btn-primary btn-block" type="submit" value="Reset password">
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="/static/halfmoon/js/halfmoon.js"></script>
  <script type="text/javascript">
    // Dark mode toggle demo
    function toggleDemo() {
      halfmoon.toggleDarkMode();
    }
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $('#submit_button').prop('disabled', 'true')
    $('#password-error').hide()

    $('.form-control').blur ( function() {

      if ($('#password1').val() != "" && $('#password2').val() != "") {
        if ($('#password1').val() == $('#password2').val()) {
          $('#submit_button').prop('disabled', false)
          $('.form-control').removeClass('is-invalid')
          $('#password-error').hide()
        } else {
          $('#submit_button').prop('disabled', true)
          $('.form-control').addClass('is-invalid')
          $('#password-error').show()
        }

      }

    })

  </script>
</body>

</html>