{% extends "base.html" %}

{% block stylesheets %}
<link href="https://releases.transloadit.com/uppy/v1.29.1/uppy.min.css" rel="stylesheet">

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />]
<link href="/static/css/customselect2.css" rel="stylesheet"/>
{% endblock%}

{% block modals %}
<!-- Modals go here -->
<div class="modal" id="modal-pastebin" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">Upload from URL</h5>
      <form action="/load/pastebin/{{ snapshot.unique_reference }}" method="post">
        <div class="form-group">
          <label for="pastebin_url" class="required">Pastebin, Hastebin or Github Gist URL</label>
          <input type="text" name="pastebin_url" id="pastebin_url" class="form-control" placeholder="https://pastebin.com/" required="required">
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Load Script from URL">
      </form>
    </div>
  </div>
</div>

<div class="modal" id="modal-github" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    {% if snapshot.unique_reference %}
    <div class="modal-content">
    {% else %}
    <div class="modal-content" style="width: 90%">
    {% endif %}
      <a href="#" class="close" role="button" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </a>
      <h5 class="modal-title">Load a repo from <i class="lni lni-github-original"></i> Github</h5>

      {% if snapshot.unique_reference %}
      <p>Uploading a repo from GitHub will start a new workspace. If you just want to upload one file then upload <a href="#modal-pastebin">via URL</a> instead.</p>
      <p>Do you want to start a new workspace?</p>
      <div class="text-right mt-20"> <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
        <a href="#" class="btn mr-5" role="button">Close</a>
        <a href="/new-script#modal-github" class="btn btn-danger" role="button">Start a new workspace</a>
      </div>
      {% else %}
      <form action="/load/github/{{ snapshot.unique_reference }}" method="post">
        <div class="form-group">
          <select name="github_repo_name" style="width: 100%" class="js-example-data-ajax" id="github_repo_select" form-control"></select>
          <input name="github_repo_url" id="github_repo_url" type="hidden">
        </div>
        <input class="btn btn-primary btn-block" type="submit" value="Load">
      </form>
      {% endif %}
    </div>
  </div>
</div>

<div class="modal" id="modal-upload-file" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <h5 class="modal-title">Upload file</h5>
      <div id="drag-drop-area"></div>
    </div>
  </div>
</div>
{% endblock%}

{% block content %}
<!-- Content wrapper start -->
<div class="content-wrapper">
  <div class="w-full h-full">
    <div class="content h-full">
      <div class="container-fluid h-full">
        <div class="row w-full">
          <div class="col-7 h-full">
            <div class="content h-full">
              <h1 class="content-title">Paste your code here...</h1>
              <form action="/load/manual/{{ snapshot.unique_reference }}" method="post">
                <div class="form-group form-inline">
                  <label for="pasted-script-name">Optional name:</label>
                  <input type="text" class="form-control" placeholder="Script name" id="pasted-script-name" name="pasted-script-name">
                  <input type="submit" class="btn btn-primary" value="Upload">
                </div>
                <div class="form-group h-600 w-full" style="height: 100%;">
                  <textarea name="pasted-script-content" class="form-control mh-full" id="description" placeholder="Paste your code here." style="height: 100%; font-family: 'Courier New', monospace; white-space: nowrap;  overflow: auto" required></textarea>
                </div>
              </form>
            </div>
          </div>
          <div class="col-5">
            <div class="content">
              <div class="card">
                <h2 class="card-title">... or upload from here</h2>

                <div class="mt-10">
                  <a href="#modal-github" class="btn btn-link px-0"><span style="font-size: 1.8rem"><i class="lni lni-github"></i> Load Github repo</span></a>
                </div>

                <div class="mt-10">
                  <a href="#" onclick="halfmoon.toggleModal('modal-upload-file')" class="btn btn-link px-0"><span style="font-size: 1.8rem"><i class="lni lni-cloud-upload"></i> Upload file</span></a>
                </div>
                <div class="mt-10">
                  <a href="#modal-pastebin" class="btn btn-link px-0"><span style="font-size: 1.8rem"><i class="lni lni-link"></i> Fetch from URL</span></a>
                </div>
                <div  class="mt-10">
                  <a href="/help" class="btn btn-link px-0"><span style="font-size: 1.8rem"><i class="lni lni-question-circle"></i> Help</span></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- Content wrapper end -->
{% endblock %}

{% block javascripts %}
<script src="https://releases.transloadit.com/uppy/v1.29.1/uppy.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


<script type="text/javascript">
  const DragDrop = Uppy.DropTarget;
  const XHRUpload = Uppy.XHRUpload;

  let snapshot_unique_reference = '{{ snapshot.unique_reference|join }}';

  if (snapshot_unique_reference) {
    post_url = '/load/file/'+snapshot_unique_reference
  } else {
    post_url = '/load/file/'
  }

  var uppy = Uppy.Core({
    autoProceed: true,
    restrictions: {
      maxNumberOfFiles: 1,
      minNumberOfFiles: 1
    }
  })
  .use(Uppy.Dashboard, {
    inline: true,
    target: '#drag-drop-area',
    height: 400,
    maxHeight: 400
  })
  uppy.use(Uppy.XHRUpload, {
    endpoint: post_url,
    formData: true,
    fieldName: 'file'
  })

  uppy.on('upload-success', (file, response) => {
    //console.log (response);
    uppy.reset()
    halfmoon.toggleModal('modal-upload-file');
    halfmoon.initStickyAlert({
      content: "File <u>" + response.body.gist_filename + "</u> successfully uploaded to " + response.body.snapshot_unique_reference +".",
      title: "File uploaded",
      alertType: "alert-success",
      fillType: "filled-lm"
    });
    window.location.href = "/" + response.body.snapshot_unique_reference + "/" + response.body.gist_filename;
  })
</script>

<script src="github_handler.js"></script>

{% endblock %}